.banner-podcast {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;

  @include desktop {
    height: 470px;
  }

  @media only screen and (min-width: 1280px) and (min-height: 680px) {
    height: 550px;
  }

  .btn__primary {
    &:hover {
      background-color: white;
    }
  }



  &__text {
    max-width: 500px;
    vertical-align: middle;

    svg {
      vertical-align: middle;
      display: inline-block;
      margin-right: 8px;
    }

    img {
      width: 250px;
      height: auto;
      display: block;
      position: relative;
      left: -32px;

      @include tablet {
        width: 400px;
      }
    }

    h3 {
      color: #FFF;
      font-family: $primary-text;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 24px;

      @include tablet {
        font-size: 44px;

      }

    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}