.services {
  min-height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: wrap;

  .number {
    position: absolute;
    right: 0px;
    bottom: 0;

    h4 {
      font-size: 1200px;
      color: black;
      font-family: $primary-text;
    }
  }

  @include tablet {
    min-height: 900px;
  }

  @media only screen and (min-width:1600px) {
    height: 100vh;

  }

  &__prof {
    right: 0;
    display: none;

    @include desktop {
      max-width: 487px;
      position: absolute;
      top: 100px;
      right: -10px;
      z-index: 9999;
      display: block;
    }

    @media only screen and (min-width:1600px) {
      right: 80px;

    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;

      @include tablet {
        width: auto;
        height: 90vh;
      }
    }
  }

  @include desktop {
    overflow: hidden;
  }

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: wrap;
    padding-bottom: 0px;

    @include mobile {
      padding-top: 100px;
      padding-left: 32px;
      width: 100%;
    }
  }

  &__introduction {
    margin-top: 40px;

    @include desktop {
      position: relative;
      top: -16px;
      max-width: 384px;

    }

    h3 {
      font-size: 32px;
      color: white;
      text-align: left;
      font-family: $primary-text !important;
      margin-bottom: 12px;

      @include desktop {
        font-size: 44px;
      }

      span {
        font-family: 64px;
        color: white;
        text-align: left;
        font-family: $primary-text !important;
      }
    }

    p {
      text-align: justify;
      font-size: 14px !important;
      color: white;
      line-height: 140%;
      font-family: $secondary-text;
      padding-right: 16px;

      @include tablet {
        font-size: 23px !important;
        text-align: left;
      }

    }
  }

  &__metrics {
    display: flex;
    align-items: center;


    &__item {
      max-width: 180px;
      margin-right: 24px;



      h3 {
        font-family: 64px;
        color: white;
        text-align: left;
        font-family: $primary-text !important;

        span {
          font-family: 64px;
          color: white;
          text-align: left;
          font-family: $primary-text !important;
        }
      }

      p {
        text-align: left;
        font-size: 24px !important;
        letter-spacing: -0.3px;
      }
    }
  }

  &__menu {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-top: 32px;
    position: relative;
    left: 0px;
    top: 0px;

    @include desktop {
      left: -24px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include desktop {
      max-width: 503px;
      justify-content: space-between;
      margin-top: 0px;
      flex-flow: wrap;
    }

    &__item {
      margin-right: 24px;

      @include mobile {

        scroll-snap-align: center;
      }

      @include desktop {
        &:nth-child(1) {
          width: 100%;
          text-align: center;
          position: relative;
          top: 24px;
          margin-right: 0px;
        }

        &:nth-child(3) {
          margin-left: 150px;
        }

        &:nth-child(5) {}


        &:nth-child(3) {
          margin-left: 0px;
        }

        &:nth-child(4) {
          margin-left: 70px;
        }




        &:last-child {
          margin-right: 64px;
        }

      }

      button {
        color: #f0eff2;
        font-family: $secondary-text;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 24px;
        background: transparent;
        position: relative;
        cursor: pointer;
        text-align: left;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        text-align: center;
        padding: 8px;

        @include tablet {
          width: 170px;
          height: 170px;
          font-size: 20px;
        }

        &.active,
        &:hover {
          background: #ffffff;
          color: #111c3e;
        }
      }
    }
  }

  &__content {
    max-width: 870px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0;

    position: relative;

    &__options {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      align-items: center;
      position: relative;

      @include desktop {
        max-width: 520px;
      }

      .brand-float {
        display: none;

        @include desktop {
          position: absolute;
          top: 270px;
          left: 170px;
          z-index: 999;
          display: block;
        }
      }
    }

    .buttonCloseAction {
      width: 30px;
      background: transparent;
      position: absolute;
      top: 16px;
      right: 16px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .numberService {
      position: absolute;
      left: 50px;
      top: 0px;
      opacity: 0.10;
      display: none;
      z-index: 1;
      margin: 0;

      @include desktop {
        display: block;
        margin: 0;
        height: 100vh;
        overflow: hidden;
      }



      h4 {
        font-size: 120px;
        color: black;
        font-family: $primary-text;
        line-height: 100%;

        @include desktop {
          display: block;
          font-size: 900px;
        }
      }
    }

    &__item {
      opacity: 0;
      z-index: 0;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 24px;
      background: linear-gradient(45deg, #D0D0D3, #F5F5FF);
      height: 100vh;
      left: -100%;
      position: fixed;
      z-index: 9999999999999;
      overflow-y: auto;


      .buttonCancel {
        position: relative;
        z-index: 9999999;
        top: -20px;
        right: -20px;

        @include tablet {
          position: inherit;
          top: 0px;
          right: 0px;
        }
      }

      .content {
        position: relative;
        z-index: 9999;

      }

      @include desktop {
        max-width: 40vw;
        display: flex;
        align-items: center;
      }

      h3 {
        color: black;
        font-family: $primary-text;
        font-size: 32px;
        line-height: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 16px;
        padding-right: 12px;

        @include desktop {
          font-size: 32px;
        }

        @media only screen and (min-width: 1280px) and (min-height: 680px) {
          font-size: 36px;
        }
      }

      p {
        color: black;
        text-align: justify;
        font-family: $secondary-text;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;

        @include desktop {
          font-size: 18px;
        }

        @media only screen and (min-width: 1280px) and (min-height: 680px) {
          font-size: 20px;

        }
      }

      .buttons {
        position: relative;
        z-index: 9999;

        .btn__primary {
          background: $gray;
          color: white;
          cursor: pointer;

          @include desktop {
            margin-right: 12px;
          }

          &:hover {
            background: #111c3e;
            color: white;
            box-shadow: 0px 0px 24px #111c3e85;
            cursor: pointer !important;
          }
        }
      }

      &.active {
        opacity: 1;
        z-index: 9999999999;
        -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      }
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center right;
    }
  }
}



@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    left: 0px;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: 0px;

    opacity: 1;
  }
}