.btn {
    padding: 12px 48px;
    display: inline-block;
    font-size: 18px;
    @include transition(.3s);
    font-family: $secondary-text;

    &__primary {
        @extend .btn;
        background-color: white;
        color: $gray;
        font-size: 16px;
        line-height: 156%;
        font-weight: 700;
        letter-spacing: 0.6px;
        text-rendering: geometricPrecision;

        &:hover {
            background: white;
        }

        &--border {
            @extend .btn;
            background: transparent;
            border: 1px solid $primary;
            color: $primary;

            &:hover {
                border: 1px solid $primary-hover;
                color: $primary-hover;
            }
        }
    }
}