@import "_mixins";
@import "_grid";
@import "_variables";
@import "_buttons";
@import "inputs";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    text-decoration: none;
    font-family: $secondary-text;
    font-weight: 400;
    outline: 0px;
    text-rendering: geometricPrecision;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -webkit-scroll-behavior: smooth;
}



body {
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -webkit-scroll-behavior: smooth;
}

button {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 0;
    outline: 0;
    box-shadow: 0px;
}

input {
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.hide-on-small-only {
    display: none !important;

    @include tablet {
        display: block !important;
    }
}

.hide-on-medium-only {
    display: none;

    @include tablet {
        display: block;
    }
}

.hide-tablet-on-up {
    display: inline-block;

    @include tablet {
        display: none !important;
    }
}

#contenido {

    @include desktop {
        overflow: initial;
    }
}

.container {
    padding-top: 48px;
    padding-bottom: 48px;

    @include tablet {
        padding-top: 32px;
        padding-bottom: 32px;
        width: 100%;
    }

    @include desktop {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}