.input-field {
    position: relative;
    margin-top: 16px;
    min-height: 54px;
    box-sizing: border-box;
    min-width: 225px;

    &::after {
        content: "";
        width: 13px;
        height: 13px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.870225 2.73022L6.49954 8.52626L12.1286 2.73069L13 3.57715L6.49954 10.2697L2.32269e-07 3.57715L0.870225 2.73022Z' fill='white'/%3E%3C/svg%3E%0A");
        display: inline-block;
        margin-left: 4px;
        position: absolute;
        right: 24px;
        top: 24px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    textarea,
    select {
        color: white;
        border: solid 1px white;
        width: 100%;
        height: 54px;
        padding-left: 20px;
        outline: none;
        font-size: 16px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        font-family: $secondary-text;
        font-weight: 300;
        appearance: none;
        -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
        transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
        @include border-radius(24px);
        background: transparent;
        position: relative;
        z-index: 20;
    }

    select {

        padding-top: 18px;
        padding-left: 19px;
        position: relative;


    }

    .show-error {
        display: none;
    }

    label {
        color: white;
        position: absolute;
        bottom: 40%;
        left: 20px;
        top: 16px;
        display: block;
        margin: 0 auto;
        font-size: 16px;
        z-index: 10;
        font-family: $secondary-text;
        font-weight: 600;
        cursor: text;
        -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        text-align: initial;

        &.active {
            -webkit-transform: translateY(-18px) scale(0.8);
            transform: translateY(-18px) scale(0.8);
            bottom: 39%;
        }
    }

    &.active {

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="password"] {
            padding-top: 16px;
        }

        label {
            -webkit-transform: translateY(-14px) scale(0.8);
            transform: translateY(-14px) scale(0.8);
            bottom: 36%;
            font-weight: 400;
            text-transform: uppercase;
        }

        textarea {
            padding-top: 43px;

            label {
                -webkit-transform: translateY(-12px) scale(0.8);
                transform: translateY(-12px) scale(0.8);
                bottom: 3%;
            }
        }
    }
}

.btn-form {
    background: $primary;
    border: 1px solid $primary;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px 0px;
    text-transform: uppercase;
    border-radius: 8px;
    margin-top: 5px;
    @include transition(.3s);
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;

    &:hover {
        background-color: $primary;
        box-shadow: 0px 0px 10px $primary;
        ;
    }
}

.group-form-2 {
    @include tablet {
        width: col(6.80, 14);
        display: inline-block;
        margin-right: col(0.25, 14);
    }

    &:nth-child(3) {
        margin-right: 0;
    }
}