.site-header {
    width: 100%;
    min-height: 75px;
    position: fixed;
    top: 0;
    z-index: 9999999;
    margin-top: 00px;
    @include transition(.3s);
    background: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;



    &.active,
    &.actived {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), radial-gradient(50% 50% at 50% 50%, #1A1936 0%, #0E0D24 100%);
        background-blend-mode: normal, multiply;
    }

    @include desktop {
        position: fixed;

        &.actived,
        &.active {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), radial-gradient(50% 50% at 50% 50%, #1A1936 0%, #0E0D24 100%);
            background-blend-mode: normal, multiply;
        }

        &.white-menu {
            .site-header-nav .main-navegation ul li a {
                color: white !important;
            }
        }
    }

    .container {
        z-index: 30;
        position: relative;
        min-height: 75px;
        padding: 32px 0px;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;

        @include desktop {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    &-brand {
        width: col(27, 37);
        padding-left: 18px;

        @include desktop {
            padding-left: 0px;
            width: col(7, 31);
            height: 100%;
        }

        &__item {
            display: flex;
            align-items: center;

            img {
                height: 48px;
                display: block;

                @include tablet {
                    height: 52px;
                }

                @include desktop {
                    margin-left: 0px;
                    width: auto;
                }
            }
        }
    }

    &-nav {
        height: 0px;
        opacity: 0;
        position: relative;
        z-index: 0;
        clear: both;
        @include transition(.3s);
        display: none;
        margin-top: 10px;
        width: 100%;

        .main-navegation {
            @include mobile {
                height: 0px;
                overflow: hidden;
            }

            &.active {
                height: auto;
                background: white;
            }

            ul {
                padding-top: 10px;

                li {
                    list-style: none;
                    @include transition(.3s);

                    border-top: 1px solid $lightgray;
                    position: relative;
                    text-align: left;
                    position: relative;

                    ul {
                        overflow: hidden;
                        max-height: 0px;
                        padding: 0px;
                        @include transition(.3s);


                    }

                    &:hover {
                        padding-bottom: 0px;

                        ul {
                            max-height: 100rem;
                            background: $hoverDesktopSubMenu;
                            @include transition(.5s);


                            li {
                                border: 0px;
                            }
                        }
                    }

                    &::after {
                        content: '';
                        display: block;
                        background-image: url("data:image/svg+xml,%3Csvg width='38' height='76' viewBox='0 0 38 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3956_2)'%3E%3Cmask id='mask0_3956_2' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='76'%3E%3Cpath d='M38 0H0V76H38V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3956_2)'%3E%3Cpath d='M35.4274 44.2229L5.01194 74.7017C3.86684 75.849 2.00876 75.8508 0.861746 74.706C-0.285559 73.5612 -0.287467 71.7031 0.857345 70.5558L31.275 40.0748C32.4192 38.9306 32.4192 37.0688 31.2728 35.9224L0.857345 5.44359C-0.287467 4.29629 -0.285559 2.4382 0.861746 1.29339C1.43445 0.721717 2.18469 0.436035 2.93464 0.436035C3.68665 0.436035 4.43866 0.723331 5.01194 1.29779L35.4252 31.7744C38.8578 35.2071 38.8578 40.7925 35.4274 44.2229Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3956_2'%3E%3Crect width='38' height='76' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                        width: 12px;
                        height: 17px;
                        width: 8.6px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        position: absolute;
                        right: 24px;
                        top: 24px;

                        @include desktop {
                            display: none;
                        }
                    }

                    &:last-child {
                        border-bottom: 1px solid $lightgray;
                    }


                    @media only screen and (max-width: 321px) {
                        padding: 8px;

                        &::after {
                            content: '';
                            display: block;
                            background-image: url("data:image/svg+xml,%3Csvg width='38' height='76' viewBox='0 0 38 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3956_2)'%3E%3Cmask id='mask0_3956_2' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='76'%3E%3Cpath d='M38 0H0V76H38V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3956_2)'%3E%3Cpath d='M35.4274 44.2229L5.01194 74.7017C3.86684 75.849 2.00876 75.8508 0.861746 74.706C-0.285559 73.5612 -0.287467 71.7031 0.857345 70.5558L31.275 40.0748C32.4192 38.9306 32.4192 37.0688 31.2728 35.9224L0.857345 5.44359C-0.287467 4.29629 -0.285559 2.4382 0.861746 1.29339C1.43445 0.721717 2.18469 0.436035 2.93464 0.436035C3.68665 0.436035 4.43866 0.723331 5.01194 1.29779L35.4252 31.7744C38.8578 35.2071 38.8578 40.7925 35.4274 44.2229Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3956_2'%3E%3Crect width='38' height='76' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                            width: 8px;
                            height: 14px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center center;
                            position: absolute;
                            right: 24px;
                            top: 32px;
                        }
                    }



                    a {
                        padding: 24px 12px;
                        display: inline-block;
                        width: 100%;
                        font-size: 14px;
                        line-height: 15px;

                        position: relative;
                        color: white;


                        &::before {
                            content: "";
                            width: 0%;
                            height: 2px;
                            background-color: $colorActiveMenu;
                            position: absolute;
                            bottom: 12px;
                            left: 0px;
                            @include transition(.3s);

                        }

                        @include desktop {
                            display: initial;
                            width: auto;
                        }

                        &:hover {
                            color: $colorActiveMenu;

                            @include desktop {
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                    }


                }
            }

            @include desktop {
                ul {
                    padding: 0px;

                    li {
                        list-style: none;
                        text-align: left;
                        padding: 0px;
                        color: white;
                        display: inline-block;
                        margin: 0;
                        margin-right: 24px;
                        border: 0px;
                        position: relative;

                        &.menu-item-has-children {
                            margin-right: 40px;

                            a {
                                &::after {
                                    content: "";
                                    width: 13px;
                                    height: 13px;
                                    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.870225 2.73022L6.49954 8.52626L12.1286 2.73069L13 3.57715L6.49954 10.2697L2.32269e-07 3.57715L0.870225 2.73022Z' fill='white'/%3E%3C/svg%3E%0A");
                                    display: inline-block;
                                    margin-left: 4px;
                                    position: absolute;
                                    right: -24px;
                                    top: 24px;
                                }
                            }

                            ul li a {
                                color: #0E0D24 !important;

                                &:hover {
                                    color: $colorsSubMenu !important;
                                }

                                &::after {
                                    display: none
                                }
                            }
                        }

                        &:last-child {
                            margin-right: 0px;
                            border: 0px;
                        }

                        a {
                            padding: 20px 0px;
                            color: $colorMenuButton;
                            @include transition(.3s);
                            display: block;
                            width: auto;
                            font-weight: 500;
                            border: 0px;
                        }

                        ul {
                            overflow: initial;
                            max-height: initial;
                            width: 220px;
                            display: none;

                            li a {
                                color: $colorsSubMenu;

                                &:hover {
                                    color: $colorActiveMenu;
                                }

                                &::before {
                                    display: none;


                                }
                            }
                        }


                        &.current_page_item {
                            a {
                                color: $colorActiveMenuText;

                                &::before {
                                    width: 100%;
                                }
                            }

                            ul li a {
                                color: $colorsSubMenu;
                                font-size: 14px;

                                &:hover {
                                    background: $hoverDesktopSubMenu;
                                }

                                &::before {
                                    display: none;


                                }
                            }

                        }

                        &:hover {
                            ul {
                                display: block;
                                position: absolute;
                                left: -55%;
                                width: 220px;
                                height: auto;
                                padding: 12px;
                                background: #fff;
                                box-shadow: 0px 20px 64px rgba(111, 103, 164, 0.35);

                                li {
                                    text-align: center;
                                    width: 100%;
                                    border-bottom: 0px;
                                    color: $colorsSubMenu;
                                }

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 15px;
                                    height: 15px;
                                    top: -4px;
                                    left: 15%;
                                    background: white;
                                    transform: rotate(45deg);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.active,
        &.actived {
            width: 100%;
            margin-top: 70px;
            clear: both;
            height: 100%;
            opacity: 1;
            text-align: center;
            display: block;
            z-index: 80;

            .main-navegation {
                height: 100vh;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), radial-gradient(50% 50% at 50% 50%, #1A1936 0%, #0E0D24 100%);
                background-blend-mode: normal, multiply;

                @include desktop {
                    height: auto;
                }
            }


        }


        @include desktop {
            height: 100%;
            opacity: 1;
            margin-top: 0px;
            display: flex;
            justify-content: flex-end;
            width: col(22.5, 31);

        }
    }

    &-sandwich {
        @include transition(.3s);

        padding-right: 18px;
        width: auto;

        @include desktop {
            display: none;
        }

        .menu {
            height: 2px;
            width: 22px;
            display: block;
            background-color: $color-sandwich;
            margin-bottom: 6px;
            @include transition(.3s);


            &-3 {
                margin: 0;
            }
        }

        &.active {
            padding-top: -10px;

            .menu {
                &-1 {
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -webkit-transform-origin: 0% 90%;
                    -ms-transform-origin: 0% 90%;
                    transform-origin: 0% 90%;
                }

                &-2 {
                    opacity: 0;
                }

                &-3 {
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    -webkit-transform-origin: 0 10%;
                    -ms-transform-origin: 0 10%;
                    transform-origin: 0 10%;
                }
            }
        }
    }

    @include desktop {

        &.actived,
        &.active {
            p {
                color: white;
            }

            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
            radial-gradient(50% 50% at 50% 50%, #1A1936 0%, #0E0D24 100%);
            background-blend-mode: normal,
            multiply;

            .site-header-brand {
                padding-bottom: 0px;
            }

            .site-header-nav {
                display: flex !important;
                align-items: center !important;
                justify-content: flex-end;
            }

            svg {
                padding: 0;
                height: auto !important;
                margin: 0;
                position: relative;
                top: -5px;

                path {
                    fill: $primary;
                }
            }

            .phone-contact {
                a {
                    color: white;
                }

                svg {
                    top: 0px;
                    margin-right: 8px;
                }
            }

            li a {
                color: white !important;
            }

            .container {
                max-width: 1200px;



                .site-header-brand__item {
                    display: inline-block;
                }
            }
        }
    }


}